/* build/output/ui/Column.module.css */
._column_1bhoe_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  min-height: 16px;
  padding: 1px;
  background-color: #ccc;
  border-color: #888;
  font-family: monospace;
}
._column_1bhoe_1:hover {
  background-color: #bbb;
}
._column_1bhoe_1 label {
  color: #111;
}
._column_1bhoe_1 ._value_1bhoe_23 {
  color: #888;
}
._column_1bhoe_1._connected_1bhoe_27 {
  border-color: #111;
}
._column_1bhoe_1._connected_1bhoe_27 ._value_1bhoe_23 {
  color: #111;
}

/* build/output/ui/Decoy.module.css */
._decoy_199pg_1 {
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  pointer-events: none;
  background-color: transparent;
}

/* build/output/ui/Input.module.css */
._input_3gytg_1 {
  border-left-width: 4px;
  border-left-style: solid;
}

/* build/output/ui/Output.module.css */
._output_1fphq_1 {
  border-right-width: 4px;
  border-right-style: solid;
}

/* build/output/ui/Scrollable.module.css */
._scrollable_1a6b5_1 {
  display: block;
  height: 100%;
  overflow: scroll;
}

/* build/output/ui/Toolbar.module.css */
._toolbar_1u7av_1 {
  display: block;
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: #ddd;
  border: 1px solid #111;
  z-index: 2;
}
._toolbar_1u7av_1 ._button_1u7av_15 {
  display: inline-block;
  height: 40px;
  margin: 5px;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid #111;
}
._toolbar_1u7av_1 ._button_1u7av_15:hover {
  background-color: #ddd;
}
._toolbar_1u7av_1 ._divider_1u7av_29 {
  display: inline-block;
  width: 20px;
}

/* build/output/ui/Workarea.module.css */
._workarea_mvzr4_1 {
  display: block;
  position: relative;
  width: 10000px;
  height: 10000px;
  background-color: #eee;
  z-index: 0;
}

/* build/output/ui/Node.module.css */
._node_b84i4_1 {
  display: inline-block;
  position: absolute;
  min-width: 200px;
  background-color: #ddd;
  border: 1px solid #111;
  color: #222;
}
._selected_b84i4_12 {
  outline: 2px dashed #333;
}
._node_b84i4_1 ._title_b84i4_16 {
  display: block;
  height: 20px;
  padding: 0 2px;
  font-family: monospace;
  line-height: 20px;
}
._node_b84i4_1 ._edit_b84i4_25 {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  width: 20px;
  height: 20px;
  border: none;
  border-left: 1px solid #111;
  font-family: monospace;
  line-height: 20px;
}
._node_b84i4_1 ._delete_b84i4_40 {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-left: 1px solid #111;
  font-family: monospace;
  line-height: 20px;
}
._node_b84i4_1 ._inputSection_b84i4_55,
._node_b84i4_1 ._outputSection_b84i4_56 {
  border-top: 1px solid #111;
}
._node_b84i4_1 textarea {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 0 -1px 0;
  padding: 2px;
  min-width: 300px;
  min-height: 150px;
  z-index: 1;
  border: none;
  background-color: #222;
  color: #ddd;
}
