.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;

  min-height: 16px;
  padding: 1px;

  background-color: #ccc;

  font-family: monospace;
}
.column:hover {
  background-color: #bbb;
}

.column label {
  color: #111;
}

.column .value {
  color: #888;
}
