.node {
  display: inline-block;
  position: absolute;

  min-width: 200px;

  background-color: #ddd;
  border: 1px solid #111;
}

.selected {
  outline: 2px dashed #333;
}

.node .title {
  display: block;
  height: 20px;
  padding: 0 2px;

  font-family: monospace;
  line-height: 20px;
}

.node .edit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  width: 20px;
  height: 20px;

  border: none;
  border-left: 1px solid #111;

  font-family: monospace;
  line-height: 20px;
}

.node .delete {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;

  border: none;
  border-left: 1px solid #111;

  font-family: monospace;
  line-height: 20px;
}

.node .inputSection,
.node .outputSection {
  border-top: 1px solid #111;
}

.node textarea {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 300px;
  min-height: 150px;

  border: none;
}
