.toolbar {
  display: block;

  height: 50px;

  padding: 0;
  margin: 0;

  background-color: #ddd;
  border: 1px solid #111;

  z-index: 2;
}

.toolbar .button {
  display: inline-block;
  height: 40px;

  margin: 5px;
  padding: 5px 10px;

  background-color: #eee;
  border: 1px solid #111;
}
.toolbar .button:hover {
  background-color: #ddd;
}
.toolbar .highlightedButton {
  color: #eee;
  background-color: #0078d7;
  border: 1px solid #111;
}
.toolbar .highlightedButton:hover {
  color: #0078d7;
  border-color: #0078d7;
}

.toolbar .divider {
  display: inline-block;
  width: 20px;
}
