._toolbar_18bcn_1 {
  display: block;
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: #ddd;
  border: 1px solid #111;
  z-index: 2;
}
._toolbar_18bcn_1 ._button_18bcn_15 {
  display: inline-block;
  height: 40px;
  margin: 5px;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid #111;
}
._toolbar_18bcn_1 ._button_18bcn_15:hover {
  background-color: #ddd;
}
._toolbar_18bcn_1 ._highlightedButton_18bcn_28 {
  color: #eee;
  background-color: #0078d7;
  border: 1px solid #111;
}
._toolbar_18bcn_1 ._highlightedButton_18bcn_28:hover {
  color: #0078d7;
  border-color: #0078d7;
}
._toolbar_18bcn_1 ._divider_18bcn_38 {
  display: inline-block;
  width: 20px;
}
