name: QA

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  qa:
    name: Run QA
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Select NodeJS version
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3
        with:
          node-version: 18

      - name: Install dependencies
        run: yarn install

      - name: Lint ESLint
        run: yarn lint:eslint
      - name: Lint TSC
        run: yarn lint:tsc
      - name: Build
        run: yarn build
